# IDE's
.vscode/

# Logs
logs/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
beppin

# Test and test binary, built with `go test -c`
*.test
test
test.go

# Assets
assets/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Sensitive data
.env
config.yaml
migrations/config.yaml
